<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 0px;
      border-radius: 0;
    }
    body    
      {
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="{% url 'show' %}">All Products</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'loginaccount' %}">Login</a></li>
          <li><a href="{% url 'logoutaccount' %}">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Header section end -->
    <!-- <form method="post">
    {% csrf_token %}
    <div class="container-fluid">
      {% for i in mobile %}
      <div class="col">
          <div class="col-sm product">
              <img src="{{ i.img.url }}" alt="116" width="400px" height="400px" class="img-thumbnail">
              <div style="display: inline-block;margin: 30px 30px;">
                  <h2>{{ i.Name }}</h2>
                  <h6>{{ i.Description }}</h6>
                   <a href="/update/{{i.id}}" class="btn btn-primary">Edit</a>
                  <a href="/delete/{{i.id}}" class="btn btn-danger">Delete</a> -->
              <!-- </div>
          </div>
      </div>
      {% endfor %}
  </div>
  </form> --> 
  <div class="container">
  <form method="post">
  {% csrf_token %}
  {% for i in mobile %}
  <div class="card" style="width: 60%;">
    <img src="{{i.img.url}}" class="card-img-left" alt="..." width="74%">
    <div class="card-body">
      
      <h5 class="card-title">{{i.Name}}</h5>
      <h5 class="card-title">PRICE: ₹{{i.Price}}</h5>
      <p class="card-text">{{i.Description}}</p>
    </div>
  </div>
  {% endfor %}
  </form>
</div>
</body>
</html>